<%= simple_form_for(@blog_address,:html => {:class => 'form-vertical' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  	
    <%= f.input :blogadd , :label => "Enter Blog Url" ,:placeholder => "https://Someblogs.com" %> 
    <%=f.input :name, :as => :hidden, :input_html => { :value => "#{current_user.name}" } %>
    
  </div>

  <%= f.button :submit ,:class => "btn-primary" %>
<% end %>
