<%= simple_form_for(@github_address,:html => {:class => 'form-vertical' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

   <p class="text-info"><%= f.input :githubadd , :label => "Enter GitHub Url" ,:placeholder => "https://github/sam1988/dam.git",:input_html => {:onblur => "validFBurl(this)"} %>
   <%=f.input :name, :as => :hidden, :input_html => { :value => "#{current_user.name}" } %></p>
  <%= f.fields_for :projects do |builder| %>
    <%= render 'project_fields', f: builder %>
  <% end %>
  <br/>
  <p class="text-info"><%= link_to_add_fields "Add Project", f, :projects %><br/></br>
  <%= f.button :submit ,:class => "btn-primary" %>
  <% end %>
</div>