

<p >
  <h3 class="text-info">Github Address:</h3>
  <a href = <%= @github_address.githubadd %>> <%= @github_address.githubadd %> </a>
</p>
<h4 class="text-info">Projects</h4>
<% @github_address.projects.each do |c| %>
  <p class="text-error">
    <b>Project:</b>
    <a href = <%= c.projecturl %> ><%= c.projecturl.first(30) %> </a>
  </p>
  
    <b class="text-success"> Heroku </b>
   
   
  <% if c.heroku.nil? %>
   <b class = "text-info"><%= "No Url Present" %></b>
  <% else %>
  <a href = <%= c.heroku.herokuurl %>><%= c.heroku.herokuurl.first(30) %></a>
  <% end %>

<br>
<br>
 
 <% end %>
  
<%= link_to 'Edit', edit_github_address_path(@github_address) %> |
<%= link_to 'Back to Github Address', github_addresses_path %>
