

	          
	          <h4 class ="text-success"><em><i>We store your efforts like our's <i></em></h4>
	      <h4 class ="text-info">About Us</h4> 
	      
	      	<p class="span8"> 
Engineers at Bloggo's have historically used almost any library they were familiar with to meet blogger-end requirements. Bloggo's began as an answer to the challenges that presented. With the help of many awesome folks, Bloggo's has grown significantly.
	      	</p>
	        <div class="container">
	            <div class="slides">
	            	<%= image_tag("pic1.jpg", :alt => "rss feed") %> 
	                <%= image_tag("pic2.jpg", :alt => "rss feed") %> 
	                <%= image_tag("pic3.jpg", :alt => "rss feed") %> 
	                <%= image_tag("pic4.jpg", :alt => "rss feed") %> 
	                <%= image_tag("pic5.jpg", :alt => "rss feed") %> 
	                <%= image_tag("pic6.jpg", :alt => "rss feed") %> 
	                <%= image_tag("pic7.jpg", :alt => "rss feed") %> 
	                
	            </div>
	            <canvas id="slideshow" width="750" height="300"></canvas>
	        </div>