<h2 class="text-info">Sign in</h2>
<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-vertical' }) do |f| %>
  <%= f.input :email,:label => "Enter E-Mail Address",:placeholder =>"youremail@example.com", :autofocus => true %>
    
  <%= f.input :password %>
  <%= f.input :remember_me , inline_label: 'Remember me', label: false, :as => :boolean if devise_mapping.rememberable? %>
  <%= f.button :submit, "Sign in", :class => 'btn-primary' %>
<% end %>
<%= render "devise/shared/links" %>