<%= link_to "Bloggo's", root_path, :class => 'brand' %>
<ul class="nav">
  <% if user_signed_in? %>
    <li>
    <%= link_to('Logout', destroy_user_session_path, :method=>'delete') %>        
    </li>
  <% else %>
    <li>
    <%= link_to('Login', new_user_session_path)  %>  
    </li>
  <% end %>
  <% if user_signed_in? %>
  <li>
<%= link_to('Your Blogs Url',blog_addresses_path) %>
  </li>
  <li>
<%= link_to('Your Github Url',github_addresses_path) %>
  </li>
    <li>
    <%= link_to('Edit account', edit_user_registration_path) %>
    </li>
    
    <% if current_user.has_role? :admin %>
      <li>
      <%= link_to('Admin', users_index_path) %>
      </li>
    <% end %>
 <div class="navbar-search pull-left">
<!-- .nav, .navbar-search, .navbar-form, etc -->
 
    <li>
      <!-- Use of this code assumes agreement with the Google Custom Search Terms of Service. -->
<!-- The terms of service are available at http://www.google.com/cse/docs/tos.html -->
<form name="cse" id="searchbox_demo" action="http://www.google.com/cse">
  <input type="hidden" name="cref" value="" />
  <input type="hidden" name="ie" value="utf-8" />
  <input type="hidden" name="hl" value="" />
  <input name="q" type="text" size="40" />
  <input type="submit" name="sa" class ="btn btn-primary" value="Search" />
</form>
<script type="text/javascript" src="http://www.google.com/cse/tools/onthefly?form=searchbox_demo&lang="></script>
</div>
    </li>
  <% else %>

    <li>
    <%= link_to('Sign up', new_user_registration_path)  %>
    </li>
  <% end %>
</ul>
